<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Delivery</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }


    body {
      margin-bottom: 60px; /* Margin bottom by footer height */
    }
    .footer {
      position: sticky;
      position: -webkit-sticky;
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
    }
  </style>
</head>

<body>{% set is_auth = ('logged_in' in session and session['logged_in'])  %}
  <header class="container mt-3">
    <nav class="py-1 navbar navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a href="/" class=" h5 my-2 text-white bg-dark">Delivery</a>
      </ul>
        </p><a href="/admin" style="{{ "" if 'role' in session and session['role'] == 'admin' else 'display: none;'  }}" class="mx-1 btn btn-light btn-sm ml-4s">Админ</a></p><a href="/register" style="{{ 'display: none;' if is_auth else '' }}" class="mx-1 btn btn-light btn-sm ml-4s">Зарегистрироваться</a><a href="/auth" style="{{ 'display: none;' if is_auth else '' }}" class="mx-1 btn btn-light btn-sm ml-4s">Войти</a><a href="/account" style="{{ '' if is_auth else 'display: none;' }}" class="mx-1 btn btn-light btn-sm ml-4s">Личный кабинет</a><a href="/logout" style="{{ '' if is_auth else 'display: none;' }}" class="mx-1 btn btn-light btn-sm ml-4s">Выйти</a>
    </nav>
  </header>
{% block container %} {% endblock %}
  <footer class="footer">
    <nav class="container navbar navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <p class="h4 nav-link">Delivery</p>
      </ul>
        <p class="my text-dark bg-light"><a href='/cart/' class="btn btn-outline-dark btn-block"><b>Корзина {% if request.path != '/cart/' %}(<span id="qnt">0</span> блюд <span id="sum">0</span> руб.){% endif %}</b></a></p>
    </nav>
  </footer>
</body>
<meta name="csrf-token" content="{{ csrf_token() }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap-input-spinner.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
</html>
