<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<table class="table">
          <tbody>
            <tr id="1"><th scope="row">Ролл "Хомский"</th><td></td><td>1</td><td>315</td><td>315</td></tr>
            <tr>
              <th scope="row">Бургер 404</th>
              <td></td>
              <td>3</td>
              <td>250</td>
              <td>750</td>
            </tr>
            <tr>
              <th scope="row">Пица "Армин"</th>
              <td></td>
              <td>2</td>
              <td>310</td>
              <td>620</td>
            </tr>
          </tbody>
        </table>

<button type="button" class="btn btn-primary">add</button>


<input type="number" value="0" min="0" id="1"/>
<input type="number" value="0" min="0" max="10" id="2" price="50"/>
<p>Qnt: <span id="qnt"></span></p>
<p>Sum: <span id="sumpr"></span></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
    <script src="../static/bootstrap-input-spinner.js" type="text/javascript"></script>
    <script type="text/javascript">$("input[type='number']").inputSpinner()</script>
    <script type="text/javascript">
        $("button").click(function (e) {
            let response = JSON.parse(localStorage.response);
            response.forEach((resp) => {
                    var newRowContent = "<tr id=\"" + resp.id + "\"><th scope=\"row\">" + resp.title + "\"</th><td></td><td>" + resp.qnt + "</td><td>" + resp.price + "</td><td>" + resp.price*resp.qnt + "</td></tr>";
                    $("tbody").append(newRowContent);
        });</script>
</body>
</html>

success: function (msg) {
                  msg.forEach((resp) => {
                      var newRowContent = "<tr id=\"" + resp.id + "\">" +
                                            "<th scope=\"row\">" + resp.title + "\"</th>" +
                                            "<td> <input type=\"number\" class='spinner' value=\"" + resp.qnt + "\" min=\"0\" id=\"" + resp.id + "\" price=\"" + resp.price + "\" onchange=\"  \"/></span></td>" +
                                            "<td> <span class='p"+resp.id+"'>" + resp.price + "</span></td>" +
                                            "<td> <span class='pq"+resp.id+"'>" + resp.price*resp.qnt + "</span></td></tr>";
                      $("tbody").append(newRowContent);
                          try { $("input[class='spinner']").inputSpinner("destroy"); } catch (e) {}
                          $("input[class='spinner']").inputSpinner();

                  });